/**
 * Wireframe
 **/

#body {
	background: #999;
}

 #header {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  background: #ccc;
 }

 #nav {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  background: #ccc;
 }

 #section {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  background: #ccc;
  width: 300px;
  height: 200px;
  float: left;

 }

 #article {
 	clear: left;
 	background: #999;
	position: absolute; 
	top: 190px;
	left: 42px;
 	width: 270px;
 	height: 180px;
 	color: black;
 }

 #headers {
 	background: #ccc;
 	position: absolute;
 	top: 225px;
 	left: 68px;
 	text-align: center;
	width: 220px;
	height: 50px;
 }

#paragraph {
	background: #ccc;
	position: absolute;
	top: 300px;
	left: 68px;
	text-align: center;
	width: 220px;
	height: 50px;
}

#aside {
	float: left;
  margin-left: 10px;
	background: #ccc;
	text-align: center;
	width: 315px;
    height: 230px;

}

#footer{
	clear: left;
	background: #ccc;
	height: 25px;
	text-align: center;
}